In [1]:
import pandas as pd
from utils import *
import basedosdados as bd

## Caged

### To-do

- [x] Checar os tipos das colunas e comparar com a arquitetura
- [x] Checar a quantidade de nulos em cada ano
- [x] Checar as colunas com link nos diretórios
- [x] Baixar todos os anos do Novo Caged e subir no storage
        - [x] Baixar do FTP
        - [x] Subir no Storage
- [x] Atualizar para 2022/02
- [x] Check no dicionário

In [16]:
## Checar os tipos das colunas e comparar com a arquitetura
dataset = 'br_me_caged'
tables = ['microdados_movimentacao', 'microdados_movimentacao_fora_prazo']
df_final = pd.DataFrame()

# Loop através da lista de strings
for item in tables:
    # Execute a função que retorna um dataframe
    df = check_column_types(dataset_id=dataset,table_id=item, architecture_path="./arquitetura_caged_microdados_movimentacao.csv")
    
    # Adicione uma coluna que identifica cada elemento da lista de strings
    df['table_id'] = item
    
    # Concatene o dataframe resultante ao dataframe final
    df_final = pd.concat([df_final, df])

# Imprima o dataframe final
df_final.head()

Downloading: 100%|██████████| 167/167 [00:00<00:00, 540.98rows/s]
Downloading: 100%|██████████| 167/167 [00:00<00:00, 525.77rows/s]

,name_ckan,bq_type_ckan,name_arq,bq_type_arq,bq_name,bq_type,match_names_arq,match_types_arq,table_id
0,ano,int64,ano,int64,ano,int64,True,True,microdados_movimentacao
1,mes,int64,mes,int64,mes,int64,True,True,microdados_movimentacao
2,sigla_uf,string,sigla_uf,string,sigla_uf,string,True,True,microdados_movimentacao
3,id_municipio,string,id_municipio,string,id_municipio,string,True,True,microdados_movimentacao
4,id_municipio_6,string,id_municipio_6,string,id_municipio_6,string,True,True,microdados_movimentacao

In [17]:
df_final

,name_ckan,bq_type_ckan,name_arq,bq_type_arq,bq_name,bq_type,match_names_arq,match_types_arq,table_id
0,ano,int64,ano,int64,ano,int64,True,True,microdados_movimentacao
1,mes,int64,mes,int64,mes,int64,True,True,microdados_movimentacao
2,sigla_uf,string,sigla_uf,string,sigla_uf,string,True,True,microdados_movimentacao
3,id_municipio,string,id_municipio,string,id_municipio,string,True,True,microdados_movimentacao
4,id_municipio_6,string,id_municipio_6,string,id_municipio_6,string,True,True,microdados_movimentacao
5,cnae_2_secao,string,cnae_2_secao,string,cnae_2_secao,string,True,True,microdados_movimentacao
6,cnae_2_subclasse,string,cnae_2_subclasse,string,cnae_2_subclasse,string,True,True,microdados_movimentacao
7,cbo_2002,string,cbo_2002,string,cbo_2002,string,True,True,microdados_movimentacao
8,saldo_movimentacao,int64,saldo_movimentacao,int64,saldo_movimentacao,int64,True,True,microdados_movimentacao
9,categoria,string,categoria,string,categoria,string,True,True,microdados_movimentacao
10,grau_instrucao,string,grau_instrucao,string,grau_instrucao,string,True,True,microdados_movimentacao
11,idade,int64,idade,int64,idade,int64,True,True,microdados_movimentacao
12,horas_contratuais,int64,horas_contratuais,int64,horas_contratuais,int64,True,True,microdados_movimentacao
13,raca_cor,string,raca_cor,string,raca_cor,string,True,True,microdados_movimentacao
14,sexo,string,sexo,string,sexo,string,True,True,microdados_movimentacao
15,salario_mensal,float64,salario_mensal,float64,salario_mensal,float64,True,True,microdados_movimentacao
16,tipo_empregador,string,tipo_empregador,string,tipo_empregador,string,True,True,microdados_movimentacao
17,tipo_estabelecimento,string,tipo_estabelecimento,string,tipo_estabelecimento,string,True,True,microdados_movimentacao
18,tipo_movimentacao,string,tipo_movimentacao,string,tipo_movimentacao,string,True,True,microdados_movimentacao
19,tipo_deficiencia,string,tipo_deficiencia,string,tipo_deficiencia,string,True,True,microdados_movimentacao
20,indicador_trabalho_intermitente,string,indicador_trabalho_intermitente,string,indicador_trabalho_intermitente,string,True,True,microdados_movimentacao
21,indicador_trabalho_parcial,string,indicador_trabalho_parcial,string,indicador_trabalho_parcial,string,True,True,microdados_movimentacao
22,tamanho_estabelecimento_janeiro,string,tamanho_estabelecimento_janeiro,string,tamanho_estabelecimento_janeiro,string,True,True,microdados_movimentacao
23,indicador_aprendiz,string,indicador_aprendiz,string,indicador_aprendiz,string,True,True,microdados_movimentacao
24,origem_informacao,string,origem_informacao,string,origem_informacao,string,True,True,microdados_movimentacao
25,indicador_fora_prazo,int64,indicador_fora_prazo,string,indicador_fora_prazo,int64,True,False,microdados_movimentacao
0,ano,int64,ano,int64,ano,int64,True,True,microdados_movimentacao_fora_prazo
1,mes,int64,mes,int64,mes,int64,True,True,microdados_movimentacao_fora_prazo
2,sigla_uf,string,sigla_uf,string,sigla_uf,string,True,True,microdados_movimentacao_fora_prazo
3,id_municipio,string,id_municipio,string,id_municipio,string,True,True,microdados_movimentacao_fora_prazo
4,id_municipio_6,string,id_municipio_6,string,id_municipio_6,string,True,True,microdados_movimentacao_fora_prazo
5,cnae_2_secao,string,cnae_2_secao,string,cnae_2_secao,string,True,True,microdados_movimentacao_fora_prazo
6,cnae_2_subclasse,string,cnae_2_subclasse,string,cnae_2_subclasse,string,True,True,microdados_movimentacao_fora_prazo
7,cbo_2002,string,cbo_2002,string,cbo_2002,string,True,True,microdados_movimentacao_fora_prazo
8,saldo_movimentacao,int64,saldo_movimentacao,int64,saldo_movimentacao,int64,True,True,microdados_movimentacao_fora_prazo
9,categoria,string,categoria,string,categoria,string,True,True,microdados_movimentacao_fora_prazo
10,grau_instrucao,string,grau_instrucao,string,grau_instrucao,string,True,True,microdados_movimentacao_fora_prazo
11,idade,int64,idade,int64,idade,int64,True,True,microdados_movimentacao_fora_prazo
12,horas_contratuais,int64,horas_contratuais,int64,horas_contratuais,int64,True,True,microdados_movimentacao_fora_prazo
13,raca_cor,string,raca_cor,string,raca_cor,string,True,True,microdados_movimentacao_fora_prazo
14,sexo,string,sexo,string,sexo,string,True,True,microdados_movimentacao_fora_prazo
15,salario_mensal,float64,salario_mensal,float64,salario_mensal,float64,True,True,microdados_movimentacao_fora_prazo
16,tipo_empregador,string,tipo_empregador,string,tipo_empregador,string,True,True,microdados_movimentacao_fora_prazo
17,tipo_estabelecimento,string,tipo_estabelecimento,string,tipo_estabelecimento,string,True,True,microdados_movimentacao_fora_prazo
18,tipo_movimentacao,string,tipo_movimentacao,string,tipo_movimentacao,string,True,True,microdados_movimentacao_fora_prazo
19,tipo_deficiencia,string,tipo_deficiencia,string,tipo_deficiencia,string,True,True,microdados_movimentacao_fora_prazo
20,indicador_trabalho_intermitente,string,indicador_trabalho_intermitente,string,indicador_trabalho_intermitente,string,True,True,microdados_movimentacao_fora_prazo
21,indicador_trabalho_parcial,string,indicador_trabalho_parcial,string,indicador_trabalho_parcial,string,True,True,microdados_movimentacao_fora_prazo
22,tamanho_estabelecimento_janeiro,string,tamanho_estabelecimento_janeiro,string,tamanho_estabelecimento_janeiro,string,True,True,microdados_movimentacao_fora_prazo
23,indicador_aprendiz,string,indicador_aprendiz,string,indicador_aprendiz,string,True,True,microdados_movimentacao_fora_prazo
24,origem_informacao,string,origem_informacao,string,origem_informacao,string,True,True,microdados_movimentacao_fora_prazo
25,indicador_fora_prazo,string,indicador_fora_prazo,string,indicador_fora_prazo,string,True,True,microdados_movimentacao_fora_prazo

In [11]:
## Checar a quantidade de nulos em cada ano
dataset = 'br_me_caged'
tables = ['microdados_movimentacao', 'microdados_movimentacao_fora_prazo']
df_final = pd.DataFrame()

df = count_null_values(dataset_id=dataset, table_id=tables[1], project_id="casebd")

Downloading: 100%|██████████| 3/3 [00:00<00:00,  8.78rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.19rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.47rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.19rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.35rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.18rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.54rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.51rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.80rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  1.89rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.41rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.31rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.38rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  1.62rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.93rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  1.30rows/s]
Downloading: 100%|██████████| 1/1 [00:02<00:00,  2.48s/rows]
Downloading: 100%|██████████| 1/1 [00:03<00:00,  3.59s/rows]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.97s/rows]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.96rows/s]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.53s/rows]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.02rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  1.48rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.79rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.45rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.06rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.83rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.08rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.27rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  1.81rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.34rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.30rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  1.78rows/s]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.68s/rows]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.42s/rows]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  1.95rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  1.32rows/s]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.26s/rows]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  1.63rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  1.85rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.45rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  1.75rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.27rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.44rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.44rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.53rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.26rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.46rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.61rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.44rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.45rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.27rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.71rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.88rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.27rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.07rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.23rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.49rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.51rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.92rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.30rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.25rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.13rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.05rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.26rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.88rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.34rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.63rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.49rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.41rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.37rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.31rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.23rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.95rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.13rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.08rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.46rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  2.97rows/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  3.22rows/s]

In [12]:
df

,table_size,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,...,tipo_empregador,tipo_estabelecimento,tipo_movimentacao,tipo_deficiencia,indicador_trabalho_intermitente,indicador_trabalho_parcial,tamanho_estabelecimento_janeiro,indicador_aprendiz,origem_informacao,indicador_fora_prazo
0,728335,2022,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3129666,2021,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1636027,2020,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Pnad

### To-do

- [] Checar os tipos das colunas e comparar com a arquitetura
- [] Checar a quantidade de nulos em cada ano
- [] Checar as colunas com link nos diretórios
- [] Baixar todos os anos do Novo Caged e subir no storage
        - [] Baixar do FTP
        - [] Subir no Storage
- [] Check no dicionário

In [2]:
## Checar os tipos das colunas e comparar com a arquitetura
dataset = 'br_ibge_pnadc'
tables = ['microdados']
df_final = pd.DataFrame()

# Loop através da lista de strings
for item in tables:
    # Execute a função que retorna um dataframe
    df = check_column_types(dataset_id=dataset,table_id=item, architecture_path="./arquiteturao_pnadc_microdados.csv")
    
    # Adicione uma coluna que identifica cada elemento da lista de strings
    df['table_id'] = item
    
    # Concatene o dataframe resultante ao dataframe final
    df_final = pd.concat([df_final, df])

# Imprima o dataframe final
df_final.head()

Downloading: 100%|██████████| 476/476 [00:00<00:00, 1142.80rows/s]

,name_ckan,bq_type_ckan,name_arq,bq_type_arq,bq_name,bq_type,match_names_arq,match_types_arq,table_id
0,ano,int64,ano,int64,ano,int64,True,True,microdados
1,trimestre,int64,trimestre,int64,trimestre,int64,True,True,microdados
2,id_uf,string,id_uf,string,id_uf,string,True,True,microdados
3,sigla_uf,string,sigla_uf,string,sigla_uf,string,True,True,microdados
4,capital,string,capital,string,capital,string,True,True,microdados

In [20]:
df_final

,name_ckan,bq_type_ckan,name_arq,bq_type_arq,bq_name,bq_type,match_names_arq,match_types_arq,table_id
0,ano,int64,ano,INT64,ano,int64,True,False,microdados
1,trimestre,int64,trimestre,INT64,trimestre,int64,True,False,microdados
2,id_uf,string,id_uf,STRING,id_uf,string,True,False,microdados
3,sigla_uf,string,sigla_uf,STRING,sigla_uf,string,True,False,microdados
4,capital,string,capital,STRING,capital,string,True,False,microdados
...,...,...,...,...,...,...,...,...,...
627,NaN,<NA>,vd4033,INT64,NaN,NaN,<NA>,<NA>,microdados
628,NaN,<NA>,vd4034,INT64,NaN,NaN,<NA>,<NA>,microdados
629,NaN,<NA>,vd4035,INT64,NaN,NaN,<NA>,<NA>,microdados
630,NaN,<NA>,vd4036,INT64,NaN,NaN,<NA>,<NA>,microdados
631,NaN,<NA>,vd4037,INT64,NaN,NaN,<NA>,<NA>,microdados

In [38]:
def count_null_values2(dataset_id: str, table_id: str, project_id: str) -> pd.DataFrame:
    """
    Conta a frequência de valores nulos de cada coluna da tabela, assim como o total de linhas. Caso a tabela
    possua a coluna ano, o valor de nulos e de total de linhas será dividio por ano.

    Args:
        dataset_id (str): ID do dataset no BigQuery.
        table_id (str): ID da tabela no BigQuery.
        project_id (str): ID (billing id) do seu projeto no BigQuery.
    
    Returns:
        pd.DataFrame: DataFrame do Pandas.
    """
    
    # Buscando os nomes, types e descriptions das colunas
    schema = bd.get_table_columns(dataset_id, table_id, verbose=False)
    print("Schema pronto!")
    # Inicializando o dataframe que irá armazenar o número de valores nulos em cada coluna
    null_counts = pd.DataFrame()
    df2 = pd.DataFrame()

    # Caso a tabela possua a coluna ano, o número de nulos e o tamanho da tabela será dado por ano
    if 'ano' in [x.get('name') for x in schema]:
        query = f"SELECT ano, COUNT(*) FROM `basedosdados.{dataset_id}.{table_id}` GROUP BY ANO"
        query_job = bd.read_sql(query, billing_project_id = project_id)
        print(query)
        try:
            print("Query rodada!")
            for year in range(len(query_job.ano)):
                for field in [i['name'] for i in schema]:
                    if field.startswith("V1028"):
                        null_counts['table_size'] = pd.Series(query_job.iloc[0][0])
                        null_counts['ano'] = year
                        null_count[field] = "peso_replicado"
                    else:                 
                        null_counts['table_size'] = pd.Series(query_job.iloc[year][1])
                        null_counts['ano'] = pd.Series(query_job.iloc[year][0])
                        # Fazendo uma consulta SQL para contar o número de valores nulos na coluna
                        query2 = f"SELECT COUNT(*) FROM `basedosdados.{dataset_id}.{table_id}` WHERE {field} IS NULL AND ano = {query_job.iloc[year][0]}"
                        print(query2)
                        query_job2 = bd.read_sql(query2, billing_project_id='casebd')
    
                        # Obtendo o resultado da consulta e adicionando o número de valores nulos ao dataframe
                        null_count = pd.Series(query_job2.iloc[0][0])
                        null_counts[field] = null_count
                df2 = df2.append(null_counts, ignore_index= True)
        except ValueError:
            print("Tenta de novo ai!")
    else:
        print("Não tem ano!")
        
   
    return df2

In [28]:
query = f"SELECT * FROM `basedosdados.{dataset}.{tables[0]}` WHERE ano = 2023 limit 10"
query_job = bd.read_sql(query, billing_project_id='casebd')
df_not_v1028 = query_job.loc[:, ~query_job.columns.str.startswith('V1028')]

Downloading: 0rows [00:00, ?rows/s]

In [29]:
df_not_v1028

Empty DataFrame
Columns: [ano, trimestre, id_uf, sigla_uf, capital, rm_ride, id_upa, id_estrato, id_domicilio, V1008, V1014, V1016, V1022, V1023, V1027, V1029, V1033, posest, posest_sxi, V2001, V2003, V2005, V2007, V2008, V20081, V20082, V2009, V2010, V3001, V3002, V3002A, V3003, V3003A, V3004, V3005, V3005A, V3006, V3006A, V3007, V3008, V3009, V3009A, V3010, V3011, V3011A, V3012, V3013, V3013A, V3013B, V3014, V4001, V4002, V4003, V4004, V4005, V4006, V4006A, V4007, V4008, V40081, V40082, V40083, V4009, V4010, V4012, V40121, V4013, V40132, V40132A, V4014, V4015, V40151, V401511, V401512, V4016, V40161, V40162, V40163, V4017, V40171, V401711, V4018, V40181, V40182, V40183, V4019, V4020, V4021, V4022, V4024, V4025, V4026, V4027, V4028, V4029, V4032, V4033, V40331, V403311, V403312, ...]
Index: []

[0 rows x 222 columns]

In [39]:
## Checar os tipos das colunas e comparar com a arquitetura
dataset = 'br_ibge_pnadc'
tables = ['microdados']
df_final = pd.DataFrame()
df = count_null_values2(dataset_id=dataset, table_id=tables[0], project_id="casebd")

Schema pronto!